{% extends "./base.html" %}
{% load static %}


<!-- TITLE -->
{% block title %}Los Verdinos | Nosotros{% endblock %}


<!-- BODY -->
{% block body %}

<div class="align-padding">
    <header class="mb-3">
        <h1>Los Verdinos</h1>
        <p>Más de 5 años apoyando a la Fundación Santiago Más Verde por una ciudad más
            ecológica. </p>
    </header>

    <section class="mb-3">
        <h2>Historia</h2>

        <div class="card mb-3">
            <img src="{% static 'website/assets/nosotros-img.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    Los Verdinos nace de una comunidad de vecinos con espíritu solidario que buscan recaudar fondos para
                    donar a
                    la fundación sin fines de lucro Santiago Más Verde, la cual se enfoca en concientizar a los
                    ciudadanos en
                    temas medioambientales y ecológicos, incentivando las prácticas que ayuden a mitigar el impacto de
                    la
                    contaminación en nuestra ciudad.
                </p>

                <p>
                    En el año 2017, Camila Pérez leyó un artículo sobre el trabajo de la Fundación Santiago Más Verde y
                    se
                    sintió inspirada por esta iniciativa, por lo que quiso apoyar a la causa de forma significativa.
                    Juntó a un
                    grupo de vecinos para idear un proyecto que les permitiera apoyar financieramente a la fundación. Es
                    ahí
                    cuando nace Los Verdinos, vendiendo productos de jardinería como maceteros, flores y arbustos para
                    las
                    comunas cercanas, usando las redes sociales como canal de difusión.
                </p>
            </div>
        </div>
    </section>

    <section>
        <h2>Nuestro equipo</h2>

        <div class="card-group">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Camila Pérez</h5>
                    <p class="card-text">Fundadora de Los Verdinos</p>
                </div>
            </div>

            <div class="card">
                <img src="https://images.unsplash.com/photo-1522556189639-b150ed9c4330?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Joaquín Alarcón</h5>
                    <p class="card-text">Co-fundador de Los Verdinos</p>
                </div>
            </div>

            <div class="card">
                <img src="https://images.unsplash.com/photo-1573497019940-1c28c88b4f3e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Antonia Díaz</h5>
                    <p class="card-text">Ejecutiva de ventas</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}