{% extends "./base.html" %}
{% load static %}


<!-- TITLE -->
{% block title %}Los Verdinos | Productos{% endblock %}


<!-- BODY -->
{% block body %}
        <!-- SEARCH BAR -->
        <div class="d-flex justify-content-center search-bar">
          <form class="form-control me-2" role="search">
              <input type="search" placeholder="Buscar productos" aria-label="Search">
              <!-- SEARCH BUTTON -->
              <button class="btn btn-outline-success" type="submit">
                  <img src={% static 'website/assets/icon-search.svg' %}>
              </button>
          </form>
      </div>
      
<div class="card-group">
  {% for p in productos %}
  <div class="card me-8" style="width: 18rem;">
    <img src="{% static 'website/assets/productos/' %}{{ p.nombre_producto }}.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{p.nombre_producto}}</h5>
      <p class="card-text"><small class="text-body-secondary">${{p.precio}}</small></p>
      <a href="#" class="btn btn-primary">Añadir al carrito</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}