{% extends "./base.html" %}
{% load static %}


<!-- TITLE -->
{% block title %}Los Verdinos | Productos{% endblock %}


<!-- BODY -->
{% block body %}

<div class="align-padding">
    {% for p in listaProductos %}
    <div class="card" style="width: 18rem;">
      <img src="{% static 'pages/assets/productos/' %}{{ p.nombre }}.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{p.nombre}}</h5>
        <p class="card-text">${{p.precio}}</p>
        <a href="#" class="btn btn-primary">Añadir al carrito</a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}